.confirm-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.confirm-conte{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: default;
}

.confirm-boton-containe {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.confirm-boton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.confirm-boton:hover {
    background-color: #45a049;
}

.cancel-boton {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cancel-boton:hover {
    background-color: #e53935;
}